/* Initial settings to prevent default margins messing up anything */
* {
   margin: 0;
}

/* Initial settings to pull the body of page down to the bottom of the page */
html, body {
    height: 100%;
    overflow: hidden;
}

/* We want the sidebars to take the whole screen */
.sidebar {
    display: flex;
    height: 100%;
}
/* The left one is for navigation */
.sidebar__sidebar {
    background-color: rgb(66, 64, 64);
    border-right: 3px black solid;
    margin-right: 5px;
    text-align: center;
    width: 205px;
}
/* Customize each item in the sidebar to stand out from better */
.sidebar__sidebar > * {
    color: white;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Take the remaining width and make it scrollable */
.sidebar__main {
    flex: 1;
    overflow: auto;
}

/* Change the styling of the links on the left sidebar */
a {
    text-decoration: none;
}
/* Let the user know which link they would be using if clicked */
a:hover {
    color: rgb(182, 177, 177);
}
/* Space out the navigation links */
aside > a:nth-child(2), aside > a:last-of-type {
    margin-top: 100px;
}

/* Put a card in the next row when previous cards take all width */
.card-layout {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.25rem;
    margin-left: -0.25rem;
}
/* There will be 3 cards per row */
.card-layout__item {
    flex-basis: 33.33333%;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.mainPage {
    /* We will show depending on which the user navigates to */
    display: none;
    /* Make the page stretch to the whole page */
    height: 100%;
    width: 100%;
}

.mainPage#home {
    /* The home page will be the default page */
    display: block;
}