/* Initial settings to prevent default margins messing up anything */
* {
    margin: 0;
}
/* Initial settings to pull the body of page down to the bottom of the page */
html, body {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    display: flex;
    height: 100%;
}

.sidebar__sidebar {
    width: 25%;
    border-right: 3px black solid;
    text-align: center;
} .sidebar__sidebar > * {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.sidebar__main {
    /* Take the remaining width */
    flex: 1;

    /* Make it scrollable */
    overflow: auto;
}

/* Change the styling of the links on the left sidebar */
a {
    text-decoration: none;
    color: black;
} a:hover {
    color: blue;
} aside > a:first-of-type, aside > a:last-of-type {
    padding-top: 100px;
}

.card-layout {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;

    margin-left: -0.25rem;
    margin-right: -0.25rem;

    background-color: blue;
}

.card-layout__item {
    background-color: yellow;
    /* There will be 3 cards per row */
    flex-basis: 33.33333%;

    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.mainPage {
    display: none;
    width: 100%;
    height: 100%;
    background-color: red;
} .mainPage#home {
    display: block;
}